# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Uploaded media & documents
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
